svg circle {

    fill: none;
    stroke-width: 12;

}

svg text {

    fill: black;

}

.contenedor_svg {

    float: left;
    width: 100%;
    margin-bottom: 10%;
    
}

.contenedor_svg > svg {

    width: 33%;

}