
#contenedor_filtro_pokemon {

    position: fixed;
    top: 20%;
    left: 28%;
    padding: 3%;
    width: 35%;
    background-color: wheat;
    display: grid;
    border-radius: 25px;
    grid-template-rows: repeat(4, 20%);
    justify-items: center;
    -webkit-transition: all 1.5s ease-out;
    -o-transition: all 1.5s ease-out;
    transition: all 1.5s ease-out;

}

#contenedor_filtro_pokemon div {

    width: 100%;
    display: flex;
    justify-content: center;

}

#contenedor_filtro_pokemon div input {

    margin: 0% 2%;
    width: 40%;
    color: black;
    font-size: 1.5em;
    border: 2px solid black;
    border-radius: 10px;

}

#contenedor_filtro_pokemon div input:focus {

    color: gray;
    border: 2px solid rgba(128, 128, 128, 0.925);
    border-radius: 10px;

}

#contenedor_filtro_pokemon button {

    border: none;
    padding: 2% 8%;
    border-radius: 20px;
    margin-top: 5%;
    font-size: 1.5em;

}

#mostrar_coincidencias {

    flex-direction: column;

}

#mostrar_coincidencias > p {

    margin: 0.25% 0%;
    cursor: pointer;

}

#mostrar_coincidencias > p:hover {

    color: navy;
    font-size: 1.7em;

}

/*

    --- RESPONSIVE DESIGN

*/

.fondo_boton_aceptado {

    color: white;
    background-color: rgb(204, 0, 204);;
    cursor: pointer;

}

.fondo_boton_aceptado:hover {

    background-color: #800060;

}

@media screen and (max-width: 600px){

    #contenedor_filtro_pokemon {

        top: 12.5%;
        left: 10%;
        padding: 2%;
        width: 75%;
        
    }

    #contenedor_filtro_pokemon div input {

        font-size: 1em;
      
    }

}