.fondo_boton_aceptado {

    color: white;
    background-color: rgb(204, 0, 204);;
    cursor: pointer;

}

.fondo_boton_aceptado:hover {

    background-color: #800060;

}

#contenedor_filtro_pokemon {

    position: fixed;
    top: 40%;
    left: 26%;
    padding: 3%;
    width: 40%;
    background-color: wheat;
    display: grid;
    border-radius: 25px;
    gap: 5%;
    grid-template-rows: repeat(4, 20%);

}

#contenedor_filtro_pokemon h3 {

    color: rgb(0, 51, 0);

}

#contenedor_filtro_pokemon select {

}

#contenedor_filtro_pokemon select option {



}

#contenedor_filtro_pokemon button {


}

@media screen and (max-width: 600px){

    .select_filtro_pokemon {

        width: 70%;
        font-size: 15px;
    
    }

    #contenedor_filtro_pokemon button {

        width: 20%;
        font-size: 15px;
    
    }

}