.contenedor_login {

    z-index: 2;
    padding: 3%;
    top: 20%;
    left: 30%;
    width: 35%;
    position: absolute;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;

}

.contenedor_login h1 {
    
    text-align: center;

}

.contenedor_login button {

    color: white;
    border: none;
    cursor: pointer;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 22px;
    padding: 2%;
    border-radius: 25px;
    background-color: var(--main_magenta);

}

.contenedor_login button:hover {

    background-color:  var(--main_magenta);

}

.container_flex {

    display: grid;
    width: 100%;
    grid-template-columns: 10% 85%;
    justify-content: center;
    align-items: center;
    margin: 2% auto;

}

.container_flex i {

    color: var(--main_magenta);
    font-size: 30px;
    padding: 1%;
    text-align: center;

}
  
.container_flex input {

    border: 1px solid rgb(89, 89, 89);
    font-size: 30px;
    padding: 2%;

}

.properties_buscador {

    margin-top: 4px;
    box-sizing: border-box;
    height: 30px;
    font-size: 25px;
    float: right;
    text-align: center;
    transition: all 0.5s ease;

}

#contenedor_sin_login {

    display: grid;
    padding: 1%;
    grid-template-columns: 10% 10%;
    gap: 2%;
    justify-content: end;

}

#contenedor_sin_login button {

    padding: 5%;
    text-align: center;
    font-size: 19px;
    color: var(--main_magenta);
    border: solid 1px var(--main_magenta);
    border-radius: 20px;
    cursor: pointer;
    background-color: white;
    transition: all 0.3s ease;

}

#contenedor_sin_login button:hover {

    background-color: var(--main_magenta);
    color: white;

}

.buscador_pokemon_input_logeado {

    width: 10%;

}

.buscador_pokemon_button_logeado {

    width: 4%;
    border: none;
    cursor: pointer;
    background-color: var(--main_magenta);
    
}

#contenedor_icono_login {

    height: 97%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(89, 89, 89);

}

.contenedor_toast_error {

    transition: all 0.5s linear;
    color: white;
    border-radius: 5px;
    margin: 0.5% 2.3%;
    padding: 3%;
    width: 89%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    background-color: rgb(255, 77, 77);

}

.contenedor_toast_error div:nth-child(1) {

    background-color: white;
    display: flex;
    width: 3vw;
    height: 2vw;
    margin: 0% 5%;
    border-radius: 5px;
    align-items: center;
    justify-content: center;

}

.contenedor_toast_error div:nth-child(2) {

    width: 90%;

}

.contenedor_toast_error i {

    font-size: 18px;
    color: rgb(255, 77, 77);

}

.contenedor_toast_error p {

    font-size: 1em;

}

@media screen and (max-width: 1200px){

    .contenedor_login {

        width: 75%;
        left: 10%;

    }

    .buscador_pokemon_input_logeado, .buscador_pokemon_button_logeado {

        width: 49%;
        margin: 0.5%;
    
    }

}

@media screen and (max-width: 600px){

    .contenedor_toast_error div:nth-child(1) {

        width: 9vw;
        height: 8vw;
    
    }

    .contenedor_toast_error p {

        font-size: 0.6em;
    
    }

    #contenedor_icono_login {

        height: 92%;

    }

    .container_flex i {

        font-size: 15px;

    }

    .contenedor_login h1 {
    
        font-size: 25px;
    
    }

    .contenedor_toast_error i {

        font-size: 9px;
    
    }

    #contenedor_sin_login button {

        font-size: 11px;
        padding: 7%;
    
    }

    #contenedor_sin_login {

        grid-template-columns: 25% 25%;
    
    }

    .container_flex input {

        font-size: 15px;
        padding: 2%;
    
    }

}