#instrucciones_uso {

    width : 85%;
    display : flex;
    position: fixed;
    top: 10%;
    left: 5%;
    flex-direction : column;
    align-items : center;
    justify-content : center;

}

#instrucciones_uso > div {

    border-radius: 20px;
    width: 70%;
    background-color: white;
    padding: 3%;

}

#instrucciones_uso > div > h1 {

    margin: 0% 0%;
    text-align: center;
    letter-spacing: 3px;

}

#contenedor_imagenes {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;

}

#contenedor_imagenes > img {

    width: 30%;
    height: 220px;

}

#botones_pagina {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2% 10% 0% 10%;
    width: 80%;
    color: var(--sub_magenta);

}

#botones_pagina > div {

    display: flex;
    flex-direction: row;
    align-items : center;
    justify-content : center;
    cursor: pointer;
    padding: 0% 1%;

}

#botones_pagina > div > i {

    margin: 0% 10%;

}

@media screen and (max-width: 600px){

    #contenedor_imagenes {

        flex-direction: column;
    
    }

    #instrucciones_uso {

        width : 100%;
        top: 7%;
        left: 0%;
    
    }

    #instrucciones_uso > div {

        width: 85%;
        padding: 3%;

    }

    #contenedor_imagenes > img {

        width: 100%;
        height: 125px;
        margin: 2% 0%;
        
    }

    #instrucciones_uso > div > h1 {

        font-size: 20px;
    
    }

    #instrucciones_uso > div > p {

        font-size: 14px;
        padding: 0%;
        margin: 3% 0%;
    
    }

    #botones_pagina > div > p {

        margin: 0%;
        padding: 0%;

    }

}