#instrucciones_uso {

    position : "fixed";
    width : 100%;
    height : 100%;
    display : flex;
    flex-direction : column;
    align-items : center;
    justify-content : center;

}

#instrucciones_uso > div {

    border-radius: 20px;
    width: 65%;
    background-color: white;
    padding: 3%;

}

#instrucciones_uso > div > div {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;

}

#instrucciones_uso > div > div > img {

    width: 30%;

}

#instrucciones_uso > div > h1 {

    text-align: center;
    letter-spacing: 3px;

}

@media screen and (max-width: 600px){

    #instrucciones_uso > div > div {

        flex-direction: column;
    
    }

    #instrucciones_uso > div > div > img {

        width: 100%;
        margin: 5% 0%;
        
    }

}