nav {

    float: left;
    width: 100%;

}

#contenedor_logeado {

    float: left;
    width: 100%;

}

#contenedor_direcciones_total {

    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 15%);
    align-items: center;
    background-color: rgb(0, 51, 0);
    padding: 1%;

}

#contenedor_direcciones_total > i {

    cursor: pointer;
    border-radius: 25px;
    padding: 2%;
    letter-spacing: 0.5px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 30px;
    transition: all 0.5s ease-out;

}

#contenedor_direcciones_total > i:hover {
    color: whitesmoke;
}

#contenedor_menu_informacion {

    display: grid;
    grid-template-columns: 60% 30%;
    justify-content: space-between;

}

#titulo_presentacion_pagina {
 
    text-align: center;

}

#titulo_nombre_login {

    letter-spacing: 2px;
    text-align: center;

}

#contenedor_informacion_principal {

    display: grid;
    grid-template-columns: repeat(2, 40%);
    justify-content: center;

}

#contenedor_informacion_principal h1, h2 {

    color: white;
    font-size: 20px;
    margin: 1%;

}

@media screen and (max-width: 1200px){

    #contenedor_direcciones_total {

        justify-content: space-evenly;

    }

}

@media screen and (max-width: 600px){

    #contenedor_direcciones_total {

        justify-content: space-evenly;
        gap: 15%;

    }

    #contenedor_informacion_principal {

        grid-template-rows: auto auto;
        grid-template-columns: none;

    }

    #contenedor_informacion_principal h1, h2 {

        font-size: 12px;

    }

}